<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    
    
    <%//si la variable  condicion mandada por get es 1 se ejecuta el formulario de agregar producto  %>
    
    <%if (condition==1) {%>
    <%//armo el formulario de carga del producto y lo envio por post%>
    
        <form action="" method="post">

       
           
       
        <input name="consepto" value="" type="text" placeholder="consepto" class="pass"><br><br>
        <input name="monto" value="" type="number" placeholder="monto" class="titulo"><br><br>
        <input name="fecha" value="" type="date" placeholder="fecha" >


       
        <select name="condicion" class="cant">
            <option value=1>ingreso</option>
            <option value=2>egreso</option></select>
       
    
<input type="submit">

</form>
<%//itero el array y inserto un boton que me redirija editar y envie el id %>
<%for (let index = 0; index <usuario.usuario.length; index++) {%>
    <%  let element = usuario.usuario[index]%>
      <h2><%= element.consepto%>:<%= element.monto%></h2>
      <h2><%= element.fecha%>:<%= element.tipo%></h2>
 <button><a href="/users/<%=index%>">editar</a></button>
 <%//mando con el metodo delete al elemento a eliminar%>
 <form action="/users/eliminar/<%=element.id%>?_method=DELETE" method="POST">
    <input value="eliminar" type="submit">
</form>
    <% }%>
    
    <% }%>
   <%//hago un if con la  condition que es igual a 0 enviada por get y la igualo a 0 para que entre en el if   %>
   
   <%if (condition==0) {%>
    <form action="<%=operacion.id%>?_method=PUT" method="POST">

       <%//lleno los input con los datos a editar y los envio por put%>
        <input value="" name="consepto" type="text" placeholder="consepto" class="pass"><br><br>
        <input value="" name="monto" type="number" placeholder="monto" class="titulo"><br><br>
        <input value="" name="fecha" type="date" placeholder="fecha" >
        <%//creo un boton para volver a la pagina principal %>
        <a href="/"><input type="button" value="volver"></a>
        <input type="submit">

        
    </form>
   
    <% }%>

        
</body>
</html>