<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    
    
    
    <%//the condition variable sent by get is  1 the add product form is executed  %>
    
    <%if (condition==1) {%>
    <%//make the product loading form and send it by post%>
    
        <form class="formulario1" action="" method="post">

       
           
       
        <input name="consepto" value="" type="text" placeholder="consepto" class="pass"><br><br>
        <input name="monto" value="" type="number" placeholder="monto" class="titulo"><br><br>
        <input name="fecha" value="" type="date" placeholder="fecha" >


       
        <select name="condicion" class="cant">
            <option value=1>ingreso</option>
            <option value=2>egreso</option></select>
       <br>
       <br>

            <div ><button><a href="/">inicio</a></button></div>
            <br>
            <input type="submit">
            <br>
            <br>
</form>
<%//iterate the array and insert a button that redirects me to edit and sends the id%>
<%//creating container for form2%>
<div class="formulario2">
    
    <%for (let index = 0; index <usuario.usuario.length; index++) {%>
        <%//creating boostrap container and config the columns%>
        <div class="container">
            <div class="row ">
        <%  let element = usuario.usuario[index]%>
        <%//assigning 4 colums for movile,3 for tablet and 6 of different sizes for desktop%>
        <div class="col-3 col-sm-4 col-md-2"><%= element.consepto%>:</div>

<div class="col-3 col-sm-4 col-md-1"><%= element.monto%></div>
    


  <div class="col-3 col-sm-4 col-md-2"><%= element.fecha%>:</div>
    
<div class="col-3 col-sm-4 col-md-2"><%= element.tipo%></div>
      <div class="col-12 col-sm-4 col-md-2"><button><a href="/users/<%=index%>">editar</a></button></div>
  
      <%//command wiht the delete method to the element to delete%>
 <form action="/users/eliminar/<%=element.id%>?_method=DELETE" method="POST">
   <div class="col-12 col-sm-4 col-md-1"> <input value="eliminar" type="submit"></div>

</form>
</div>
</div>
<% }%>


</div>
    <% }%>
   <%// if with the variable condition=0 sent by get,in this case  execute the edition form %>
   
   <%if (condition==0) {%>
    <form action="<%=operacion.id%>?_method=PUT" method="POST">
        <%//creating bootstrap container and setting columns%>
        <div class="container">
            <div class="row ">
       <%//fill the input with the data to edit and send it by put%>
       <%//create 3 containers 1 of 3 ,one of 6 y other of 3 to center the form%>
      
       <div class="col-sm-3 col-md-3"></div>
       <div class="col-sm-6 col-md-6"> <input value="" name="consepto" type="text" placeholder="consepto" class="pass"><br><br>
        <input value="" name="monto" type="number" placeholder="monto" class="titulo"><br><br>
        <input value="" name="fecha" type="date" placeholder="fecha" >
       
      
        <%//create button to return to the main menu%>
        
        <a href="/"><input type="button" value="volver"></a>
        <input type="submit">
    </div>
        <div class="col-sm-3 col-md-3"></div>
    
    </div>
</div>
</div>
        
    </form>
   
    <% }%>
</div>
        
</body>
</html>